* {box-sizing:border-box}



.footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 #footer-p{
     flex-direction: column;
     align-items: center;
     justify-content: center;
     
 }

 #topper{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding: 30px;
    background-color: #e2bae8;
 }

 #youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    padding: 5px;
    margin: 0px;
    bottom: 0;
 }

 #first{
    height: 500px;
    background-color: #c47870;
    font-family: Garamond, serif;
    font-size: large;
    flex: 1;
    border-radius: 25px;
    margin: 2px;
 }

 #second{
     height: 500px;
     background-color:#69c782;
     flex: 1;
     border-radius: 25px;
     margin: 2px;
     font-family: Garamond, serif;
    font-size: large;
     

 }

 #first p{
     padding: 20px;
 }
 #second p{
     padding: 20px;
 }

 

 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }
  
  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }

  #container{
      display: flex;
      

  }